# ========================
# Python cache & venv
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# ========================
# OS / Editor files
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Database & keys (sensitive)
# ========================
*.db
*.pem
secret.key

# ========================
# File hasil enkripsi/dekripsi
# ========================
*.enc
*.json
*.txt
*.csv
*.xlsx

# ========================
# Folder hasil output
# ========================
uploads/
result/
results/

# ========================
# Archive / backup
# ========================
*.zip
*.tar
*.gz
