# Ignore hasil enkripsi/dekripsi dan file besar
*.zip
*.enc
*.meta.json
*.sig
*.db
uploads/
result/
temp_*.json

# Ignore keys (jangan upload private key)
keys/private_key.pem
keys/public_key.pem
*.pem
